<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DegradrCore3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>311C8B301B287C1E00412E19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>311C8B491B287C1E00412E19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>311E952C1BB15E62000D37B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>312F05A81B79F23C00E868F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31EF37FF1B3CA36C007C15FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31EF38091B3CA36C007C15FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31EF38241B3CA3EA007C15FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31EF382E1B3CA3EA007C15FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31EF384B1B3CA8CE007C15FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31EF38551B3CA8CE007C15FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31EF38811B3D2650007C15FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31EF388B1B3D2650007C15FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
